*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image:url(https://wallpapercave.com/wp/wp3191352.jpg);
     width:200vh;
     padding:20px;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
}
.appointment form{
    margin: 60px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    background-color: white;
    height:420px;
    width:400px;
}
 .appointment form h3{
    padding: 5px;
    margin:20px;
}
.inputs input{
    margin:5px;
    padding:5px;
    border-style: none;
    border-bottom: 1px solid black;
}
.inputs select{
    margin:5px;
    padding: 5px;
    border-style: none;
    border-bottom: 1px solid black;
}
.content a{
    color: blue;
}
.requestbut button{
    background-color: rgb(132, 132, 219);
    padding: 5px;
    border-radius: 5px;
    border-style: none;
}