*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom,rgb(238, 104, 127),pink,blue);

} 
 #login_form_cont{
    border:1px solid black; 
    height: 400px;
    width: 400px;
    padding: 15px;
    text-align: center;
    background-color:rgb(50, 49, 49); */
    color:white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    /* box-shadow: 10px 20px 30px blue; */


}

#login_form_cont h1{
   font-weight:500; 
   margin:10px;
    font-family: 'Times New Roman', Times, serif;
}
#login_form_cont p{
    font-size: 0.6em; 
    font-weight: normal;
    color:rgb(188, 185, 185);
    margin:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#login_form_cont input{
    background-color:rgb(50, 49, 49);
    border-radius: 15px;
    border:2px solid rgb(86, 86, 111);
    margin:10px; 
    padding:10px 15px;
    color:white;
}
::placeholder {
    color:white;
    } 

 /* #login_form_cont a{
  color:gray;
} */
#login_form_cont button{
    border:2px  solid green;
    background-color:rgb(50, 49, 49);
    border-radius: 15px; 
    padding: 10px 20px;
    margin:20px 10px;
    color:white;
}
#login_form_cont button:hover{
    background-color: rgb(82, 80, 80);
}
 .contact{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    margin: auto;
}
.contact i{
    font-size: 20px;
}
.contact i:hover{ 
   color:white;
  scale: 1.6;
 
}
.contact i:active{ 
    color:blue;
} 


