*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom, rgb(99, 14, 218) , rgb(70, 70, 149),rgb(19, 19, 126));
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
   }
   #register{
    background-color: rgb(3, 3, 62);
    color:white;
    padding: 30px;
    height:500px;
    width: 400px;
    border:1px solid black;
    border-radius: 9px;
    box-shadow: 12px 20px 30px rgb(95, 95, 115);
   }
   .input_ele input{
    margin:10px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border-style: none;
}
.context{
    height: 70px;
    display: flex;
    font-size: 0.6em;
    line-height: 1rem ;
    padding: 1rem 2rem;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    text-align: start;
}
.context input{
    margin:0.5rem;
 }
 .register_btn{
     display: flex;
     justify-content: end;
     margin: 10px;
 }
 .register_btn button{
     background-color: green;
     color:white;
     font-size: 0.8rem;
     padding: 0.5rem;
     border-radius: 5px;
     border-style: none;
 }
 .register_btn button:hover{
     background-color: rgb(59, 162, 59);
 }
 
 



